{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section">
  <div class="container">
    <div class="row"> 
      <div class="col-lg-8 offset-lg-2 text-center">


    <!-- Breadcrumb -->
    {{ if .Params.show_breadcrumb }}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent p-0">
        <li class="breadcrumb-item"><a href="{{ .Site.BaseURL }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ .Site.BaseURL }}#services">Events</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
      </ol>
    </nav>
    {{ end }}

    <!--<h1>{{ .Title }}</h1>-->

    {{ if not .Params.is_event }}
    <ul class="list-inline mb-50">
      <li class="list-inline-item"><a href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}/">{{ .Params.Author }}</a></li>
      <li class="list-inline-item">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</li>
    </ul>
    {{ end }}
    
     {{ if .Params.Image }}
       <!-- <img class="img-fluid mb-50 lozad" data-src="{{ .Params.Image | absURL }}" alt="blog-image">-->
       <div class="event-header" style="background-color: #3c80e7;" >
        <i class="material-icons event-icon">{{.Params.image_icon}}</i>
        <h2 class="event-title">{{.Params.title}}</h2>
        <p class="event-description">{{.Params.description}}</p>
      </div>        
        {{ end }}
            </div>

            
      <div class="col-lg-8 offset-lg-2">
        {{ if .Params.show_register_button }}
        <div class="text-center mb-4" style="margin-top: 20px;">
          <button class="btn btn-primary" onclick="scrollToRegistration()">{{.Params.button_label}}</button>
        </div>
        {{ end }}

        <div class="post-single-content">
          {{ .Content }}
        </div>

        {{ if .Params.show_related_events }}
        <section id="related-events" class="mt-5">
          <h3>Other events you may also be interested in:</h3>
          {{ $currentPage := . }}
          {{ $relatedEvents := where .Site.RegularPages "Params.is_event" true }}
          {{ $relatedEvents := where $relatedEvents "Permalink" "!=" $currentPage.Permalink }}
          {{ $relatedEvents := $relatedEvents | intersect .Site.RegularPages.ByTitle }}
          {{ $relatedEvents := $relatedEvents | union (.Site.RegularPages.Related . ) }}
          {{ $relatedEvents := $relatedEvents | first 10 }}
          {{ with $relatedEvents }}
          <ul>
            {{ range . }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
          </ul>
          {{ else }}
          <p>No related events found.</p>
          {{ end }}
        </section>
        {{ end }}

        {{ if site.Params.post_share }}
        {{ partial "post-share.html" . }}
        {{ end }}

        {{ if .Params.show_form }}
        <div class="row mt-5" id="registration-form">
          <div class="col-lg-10 offset-lg-1">
            <h2 class="text-center">Periyar 146 Birthday Event Registration</h2>
            <div id="formkeep-embed" data-formkeep-url="{{ .Params.form_url }}"></div>
    
            <script type="text/javascript" src="https://pym.nprapps.org/pym.v1.min.js"></script>
            <script type="text/javascript" src="https://formkeep-production-herokuapp-com.global.ssl.fastly.net/formkeep-embed.js"></script>
    
            <script>
            const formkeepEmbed = document.querySelector('#formkeep-embed')
            formkeepEmbed.addEventListener('formkeep-embed:submitting', _event => {    
              console.log('Submitting form...')
            })
            formkeepEmbed.addEventListener('formkeep-embed:submitted', _event => {
              console.log('Submitted form...')
            })
            </script>
          </div>
        </div>
        {{ end }}

        <!--<div class="mt-5">
          {{ template "_internal/disqus.html" . }}
        </div>-->
      </div>
    </div>
  </div>

  <script>
  function scrollToRegistration() {
    const registrationForm = document.getElementById('registration-form');
    if (registrationForm) {
      registrationForm.scrollIntoView({ behavior: 'smooth' });
    }
  }
  </script>
</section>

{{ end }}