{{ define "main" }}

{{ partial "navigation.html" . }}

{{"<!-- Start Events Section -->" | safeHTML}}
<section id="events" class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ if .Params.show_breadcrumb }}
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent p-0">
            <li class="breadcrumb-item"><a href="{{ .Site.BaseURL }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
          </ol>
        </nav>
        {{ end }}
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeInDown">
          <h2>Our <span class="color">Events</span></h2>
          <div class="border-meghna"></div>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}
      {{ $hiddenEvents := slice "Donate Now" "Speech Contest" "Run/Walk For Periyar" "Parai Music" "Kahoot Quiz" "Essay Writing" }}
      {{ $events := where site.RegularPages "Params.is_event" true }}
      {{ $events := where $events "Params.title" "not in" $hiddenEvents }}
      {{ $events := $events.ByDate.Reverse }}
      {{ range $events }}
      <article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp mb-4" data-wow-duration="500ms">
        <div class="post-block">
          <div class="media-wrapper event-card-media">
            <img class="img-fluid lozad" data-src="{{ .Params.image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .Params.image | absURL }}'" alt="{{ .Title }}">
          </div>
          <div class="content">
            <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
            <p>{{ .Params.description }}</p>
            <a class="btn btn-transparent" href="{{ .Permalink }}">{{ i18n "readMore" }}</a>
          </div>
        </div>
      </article>
      {{ end }}
    </div>
  </div>
</section>
{{"<!-- /events -->" | safeHTML}}

{{ end }}
