{{ $data := index site.Data site.Language.Lang }}

{{ if $data.notice.notice.enable }}
{{ with $data.notice.notice }}
{{ $key := md5 (printf "%s|%s" .title (delimit .items "|")) }}
{{"<!-- Start Notice/Announcement Callout -->" | safeHTML}}
<div class="notice-callout-box" data-notice-key="{{ $key }}">
	<button type="button" class="notice-callout-close" aria-label="Dismiss announcement">&times;</button>
	<div class="notice-callout-icon"><i class="ti-announcement"></i></div>
	<div class="notice-callout-content">
		{{ if .title }}<h3>{{ .title }}</h3>{{ end }}
		<ul>
			{{ range .items }}
			<li>{{ . | safeHTML }}</li>
			{{ end }}
		</ul>
	</div>
</div>
<script>(function(){
	document.querySelectorAll('.notice-callout-box').forEach(function(box){
		var key = 'noticeDismissed:' + box.getAttribute('data-notice-key');
		if (localStorage.getItem(key)) { box.remove(); return; }
		var closeBtn = box.querySelector('.notice-callout-close');
		if (closeBtn) {
			closeBtn.addEventListener('click', function(){
				localStorage.setItem(key, '1');
				box.remove();
			});
		}
	});
})();</script>
{{"<!-- /Notice/Announcement Callout -->" | safeHTML}}
{{ end }}
{{ end }}
